---
# home page
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col">
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}  
  </div>
  <div class="col">  
    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}
  </div>
  <div class="col">
        {% include index/description.html %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% include feature/timelinejs.html %}  
  </div>
</div>
